.chat-input-container,
.chat-input-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-input-container {
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  margin: 4px;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}

.chat-input-controls {
  align-self: flex-end;
}

.chat-input-textfield {
  width: 100%;
  outline: none;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px
}

.chat-input-textarea {
  resize: none;
}